# Maintainer: delta-whiplash <delta@delta-net.ovh>
pkgname = pake-lizhi
pkgdesc = Lizhi wrapped as an AppImage using Pake
pkgver = 3.10.0
pkgrel = 1
url = https://github.com/tw93/Pake
arch = x86_64
license = MIT
depends = fuse2
provides = pake-lizhi
conflicts = pake-lizhi
source = Lizhi.AppImage::https://github.com/tw93/Pake/releases/download/V3.10.0/Lizhi_x86_64.AppImage
sha256sums = SKIP
